<div layout="column" flex>
<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
        <a ui-sref="reddit"><img src="assets\images\reddit.png" width="50px" height="50px"></img>
        </a>
        <span flex></span>
        <h3 hide show-gt-sm>Reddit Reader</h3>
        <span flex></span>
        <md-menu md-position-mode="target-right target" layout="column" layout-align="center center">
            <md-button class="md-icon-button" aria-label="controls" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="assets/icons/apps.svg"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-button ui-sref="reddit"><span md-menu-align-target>Reddit</span></md-button>
                <md-button ui-sref="player.songs"><span md-menu-align-target>Music</span></md-button>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-content style="height: 500px;" flex ng-cloak>
    <section>
        <md-subheader class="reddit-subheader">r/Pennystocks <span class="md-caption">Top 20 posts of the day</span></md-subheader>
        <md-list layout-padding>
            <div ng-repeat="post in pennystocks" class="md-whiteframe-8dp" layout="column">
                <md-content>
                    <md-list-item class="md-3-line" ng-click="openTab(post.url)" flex>
                        <img src="{{post.thumbnail}}" width="80px" height="80px" layout-padding ng-if="post.thumbnail"/>
                        <div class="md-list-item-text" layout="column" flex>
                            <h3 class="md-subhead">[ <span class="icon-text">{{post.ups}}</span><md-icon md-svg-icon="assets/icons/keyboard_arrow_up_black.svg"></md-icon>] {{post.title}}</h3>
                            <p class="md-body-2">{{post.selftext|limitTo:300}}<span ng-if='post.selftext.length > 300'> ...</span></p>
                            <p class="md-caption"><em>- {{post.author}}</em></p>
                        </div>
                    </md-list-item>
                </md-content>
            </div>
        </md-list>
        <md-subheader class="reddit-subheader">r/Pics <span class="md-caption">Top 20 posts of the day</span></md-subheader>
        <md-list layout-padding>
            <div ng-repeat="post in pics" class="md-whiteframe-8dp" layout="column">
                <md-content>
                    <md-list-item class="md-3-line" ng-click="openTab(post.url)" flex>
                        <img src="{{post.thumbnail}}" width="80px" height="80px" layout-padding ng-if="post.thumbnail"/>
                        <div class="md-list-item-text" layout="column" flex>
                            <h3 class="md-subhead">[ <span class="icon-text">{{post.ups}}</span><md-icon md-svg-icon="assets/icons/keyboard_arrow_up_black.svg"></md-icon>] {{post.title}}</h3>
                            <p class="md-body-2">{{post.selftext|limitTo:300}}<span ng-if='post.selftext.length > 300'> ...</span></p>
                            <p class="md-caption"><em>- {{post.author}}</em></p>
                        </div>
                    </md-list-item>
                <md-content>
            </div>
        </md-list>
    </section>
</md-content>
</div>
