<div layout="column" flex>
<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
        <a ui-sref="reddit"><img src="assets\images\reddit.png" width="50px" height="50px"></img>
        </a>
        <span flex></span>
        <h3 hide show-gt-sm>Reddit Reader</h3>
        <span flex></span>
        <md-menu md-position-mode="target-right target" layout="column" layout-align="center center">
            <md-button class="md-icon-button" aria-label="controls" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="assets/icons/assignment.svg"></md-icon>
            </md-button>
            <md-menu-content width="2">
            <div ng-repeat="subreddit in subreddits" layout="column">
                <md-button ng-click="updatePosts(subreddit, 'hot')" ui-sref="reddit.listings({subreddit: subreddit})"><span md-menu-align-target>{{subreddit}}</span></md-button>
                <md-divider></md-divider>
            </div>
            </md-menu-content>
        </md-menu>
        <md-menu md-position-mode="target-right target" layout="column" layout-align="center center">
            <md-button class="md-icon-button" aria-label="controls" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="assets/icons/apps.svg"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-button ui-sref="reddit"><span md-menu-align-target>Reddit</span></md-button>
                <md-divider></md-divider>
                <md-button ui-sref="player.songs"><span md-menu-align-target>Music</span></md-button>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-content style="height: 100%;" ng-if="!loading" flex ng-cloak>
    <section>
        <div ui-view="content"></div>
    </section>
</md-content>
</div>
